<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- using v-model... -->
            <my-input v-model="foo"></my-input>

            <!-- is the same as this... -->
            <my-input v-model="bar"></my-input>

            {{ foo }}<br>
            {{ bar }}
        </div>
        <script>
            Vue.component('my-input', {
                template: `
                    <div>
                      My Input:
                      <input v-model="inputVal">
                    </div>
                  `,
                props: ['value'],
                data() {
                    return { inputVal: this.value }
                },
                watch: {
                    inputVal(val) {
                        this.$emit('input', val);
                    }
                }
            });

            new Vue({
                el: '#app',
                data() {
                    return { foo: 'a', bar: 'b' }
                }
            })
        </script>
    </body>
</html>