<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Slider Component</title>
        <link href="../style/range-input.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    </head>
    <body>
        <div id="app">
            <slider-input v-model="Likelihood" v-bind:data-scale="[
                ['Almost impossible','Highly unlikely','Unlikely','Plausible','Likely','Highly likely','Almost certain'],
                ['Almost impossible','Highly unlikely','Unlikely','Likely','Highly likely','Almost certain'],
                ['Highly unlikely','Unlikely','Plausible','Likely','Highly likely'],
                ['Highly unlikely','Unlikely','Likely','Highly likely'],
                ['Unlikely','Plausible','Likely']
            ]"></slider-input>
            <hr>
            <slider-input v-model="Impact" v-bind:data-scale="[
                ['Negligible','Very low','Low','Medium','High','Very high','Critical'],
                ['Negligible','Very low','Low','High','Very high','Critical'],
                ['Very low','Low','Medium','High','Very high'],
                ['Very low','Low','High','Very high'],
                ['Low','Medium','High']
            ]" v-bind:active-colour="'#2b91de'" v-bind:inactive-colour="'#7f8c8d'"></slider-input>
            <p>Likelihood: {{Likelihood}}</p>
            <p>Impact: {{Impact}}</p>
        </div>
        <template id="slider-input-legend" style="display: none;">
            <div :class="['legend', {'deselected': actualVal < num}]" :style="{ background: colour }">
                <header @click="$emit('legend-click', num)">{{num}}</header>
                <div class="legendBody">
                    <span>{{legend}}</span>
                </div>
            </div>
        </template>


        <template id="slider-input" style="display: none;">
            <div class="sliderComponent">
                <div class="edit">

                </div>
                <div class="sliderContainer" ref="slider" :data-value="value" @mousemove="mouseMove" @mouseup="mouseUp">
                    <div class="legendHolder">
                        <slider-input-legend
                          v-for="n in max"
                          :num="n"
                          :legend="actualScale[n-1]"
                          :actual-val="value"
                          :key="n"
                          :active-colour="activeColour"
                          :inactive-colour="inactiveColour"
                          :max="max"
                          @legend-click="headerClick"></slider-input-legend>
                    </div>
                    <div class="sliderHolder" :style="leftOffset">
                        <div class="arrowPointerBack"></div>
                        <div class="pseudoSlider" :style="sliderStyle"></div>
                        <div class="pseudoDrag" @mousedown="startDrag"></div>
                        <div class="arrowPointerFront" @click="arrowClick"></div>
                    </div>
                </div>
            </div>
        </template>

        <script>
            Vue.component("slider-input-legend", {
                template: "#slider-input-legend",
                props:{
                    num: {
                        required: true,
                        type: Number
                    },
                    max: {
                        required: true,
                        type: Number
                    },
                    legend: {
                        type: String
                    },
                    actualVal: {
                        required: true,
                        type: Number
                    },
                    activeColour: {
                        required: false,
                        type: String,
                        default: '#2b91de'
                    },
                    inactiveColour: {
                        required: false,
                        type: String,
                        default: '#7f8c8d'
                    }
                },
                data: function(){
                    return {
                        colour: this.shadeColor((this.actualVal < this.num) ? this.inactiveColour : this.activeColour, Math.abs(this.num - this.max) * 5)
                    }
                },
                watch: {
                    actualVal: function(){
                        this.colour = this.shadeColor((this.actualVal < this.num) ? this.inactiveColour : this.activeColour, Math.abs(this.num - this.max) * 5)
                    }
                },
                methods: {
                    shadeColor: function(col,amt) {
                        var usePound = false;
                        if ( col[0] == "#" ) {
                            col = col.slice(1);
                            usePound = true;
                        }
                        var num = parseInt(col,16);
                        var r = (num >> 16) + amt;
                        if( r > 255 ){
                            r = 255;
                        }else if(r < 0){
                            r = 0;
                        }
                        var b = ((num >> 8) & 0x00FF) + amt;
                        if ( b > 255 ){
                            b = 255;
                        }else if (b < 0){
                            b = 0;
                        }
                        var g = (num & 0x0000FF) + amt;
                        if ( g > 255 ) {
                            g = 255;
                        }else if ( g < 0 ) {
                            g = 0;
                        }
                        return (usePound?"#":"") + (g | (b << 8) | (r << 16)).toString(16);
                    }
                }
            });

            Vue.component("slider-input", {
                template: "#slider-input",
                props:{
                    value: {
                        required: true,
                        type: Number
                    },
                    dataScale: {
                        required: true,
                        type: Array
                    },
                    activeColour: {
                        type: String,
                        default: "#2b91de"
                    },
                    inactiveColour: {
                        type: String,
                        default: "#7f8c8d"
                    }
                },
                data: function(){
                    var self = this;
                    var max = _.max(this.dataScale, function(c){
                        return c.length;
                    }).length;
                    var gadientColour = this.shadeColor(this.activeColour, Math.abs(this.value - max) * 5);
                    console.log(gadientColour);
                    return {
                        dataValue: this.value,
                        dragging: false,
                        scale: this.dataScale,
                        min: _.min(this.dataScale, function(c){
                            return c.length;
                        }).length,
                        max: _.max(this.dataScale, function(c){
                            return c.length;
                        }).length,
                        actualScale: this.dataScale[_.findIndex(this.dataScale, function(c){
                            return c.length === self.value;
                        })],
                        leftOffset: "left: " + ((this.value / max) * 100) + "%",
                        sliderStyle: "background: linear-gradient(to right, " + gadientColour + ", " + gadientColour + " 70%, white 70%, white)"
                    }
                },
                methods: {
                    arrowClick: function(event) {
                        if(this.dataValue > this.min && event.offsetX < 15){
                            this.dataValue--;
                        }
                        if(this.dataValue < this.max && event.offsetX >= 15){
                            this.dataValue++;
                        }
                    },
                    startDrag: function(){
                        this.dragging = true;
                    },
                    mouseMove: function(event){
                        if(this.dragging){
                            var sliderWidth = this.$refs.slider.offsetWidth / this.max;
                            if(Math.round(event.clientX / sliderWidth) >= this.min && Math.round(event.clientX / sliderWidth) <= this.max){
                                this.leftOffset = "left: " + (event.clientX - 10) + "px";
                                this.dataValue = Math.round(event.clientX / (sliderWidth));
                            }
                        }
                    },
                    mouseUp: function(){
                        if(this.dragging) {
                            this.dragging = false;
                            this.leftOffset = "left: " + ((this.value / this.max) * 100) + "%";
                        }
                    },
                    headerClick: function(newValue){
                        if(newValue >= this.min && newValue <= this.max){
                            this.dataValue = newValue;
                        }
                    },
                    shadeColor: function(col,amt) {
                        var usePound = false;
                        if ( col[0] == "#" ) {
                            col = col.slice(1);
                            usePound = true;
                        }
                        var num = parseInt(col,16);
                        var r = (num >> 16) + amt;
                        if( r > 255 ){
                            r = 255;
                        }else if(r < 0){
                            r = 0;
                        }
                        var b = ((num >> 8) & 0x00FF) + amt;
                        if ( b > 255 ){
                            b = 255;
                        }else if (b < 0){
                            b = 0;
                        }
                        var g = (num & 0x0000FF) + amt;
                        if ( g > 255 ) {
                            g = 255;
                        }else if ( g < 0 ) {
                            g = 0;
                        }
                        return (usePound?"#":"") + (g | (b << 8) | (r << 16)).toString(16);
                    }
                },
                watch: {
                    dataValue: function(val){
                        this.actualScale = this.scale[_.findIndex(this.scale, function(c){
                            return c.length === val;
                        })];
                        if(!this.dragging){
                            var gadientColour = this.shadeColor(this.activeColour, Math.abs(this.dataValue - this.max) * 5);
                            this.leftOffset = "left: " + ((this.dataValue / this.max) * 100) + "%";
                            this.sliderStyle = "background: linear-gradient(to right, " + gadientColour + ", " + gadientColour + " 70%, white 70%, white)"
                        }
                        this.$emit('input', this.dataValue);
                    }
                },
                mounted: function(){

                }
            });

            const vm = new Vue({
                el: "#app",
                data: function(){
                    return {
                        Likelihood: 5,
                        Impact: 5
                    }
                }
            });
        </script>
    </body>
</html>
